Repository SWEasabi/analisi-dei-requisiti, pull requests merged in 2022-12, with the labels that each got.

#60 Aggiunta la Feature/vincoli di progettazione
  src-doc/contenuti/descrizione-generale.tex
  src-doc/contenuti/use-cases.tex
  src-doc/d_analisi-dei-requisiti.tex
Labels: tex-doc

#61 Aggiunto garamond alla configurazione per uno stile più professionale
  src-doc/config.tex
Labels: tex-doc, needs-triage

#69 Rimossi alcuni problemi dal workflow
  .github/workflows/compile_check.yml
Labels: bug

#70 Feature/caratteristiche utenti
  src-doc/contenuti/descrizione-generale.tex
Labels: tex-doc

#75 Aggiunte modifiche al registro delle modifiche per il rilascio
  src-doc/contenuti/modifiche/0.0.1.tex
  src-doc/contenuti/modifiche/0.0.2.tex
  src-doc/contenuti/modifiche/0.0.3.tex
  src-doc/d_analisi-dei-requisiti.tex
  src-doc/registro-modifiche.tex
Labels: tex-doc

#79 Aggiunta intestazione e piè di pagina al documento
  src-doc/config.tex
  src-doc/d_analisi-dei-requisiti.tex
Labels: tex-doc
